node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
build/
web-build/

# macOS
.DS_Store

# Flutter (if any leftovers)
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock